<div style="padding: 5px 5px; background-color: #fff; border: 1px solid #ddd; border-radius: 4px;">
	<!--<video controls width="100%" height="100%" poster="poster.jpg">
		<source src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" type="video/ogg" /></source>
	</video>-->
	<video controls="" autoplay="" height="100%" width="100%">
	<!-- MP4 must be first for iPad! -->
	<source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4"><!-- Safari / iOS, IE9 -->
	<source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm"><!-- Chrome10+, Ffx4+, Opera10.6+ -->
	<source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg"><!-- Firefox3.6+ / Opera 10.5+ -->
	<!-- fallback to Flash: -->
	<object type="application/x-shockwave-flash" data="player.swf" height="360" width="640">
		<!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
		<param name="movie" value="player.swf">
		<param name="flashvars" value="autostart=true&amp;controlbar=over&amp;image=poster.jpg&amp;file=http://clips.vorwaerts-gmbh.de/VfE_flash.mp4">
		<!-- fallback image -->
		<img src="poster.jpg" alt="Big Buck Bunny" title="No video playback capabilities, please download the video below" height="360" width="640">
	</object>
	</video>
</div>
<!--<iframe src="http://player.vimeo.com/video/2203727" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->