﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="Scripts/html5shiv.min.js"></script>
        <script src="Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        <!--..::::::::::::::::::::================  INICIO HEADER  ================::::::::::::::::::::..-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-header-01">
                        <div class="logo">
                            @Html.Raw(@Html.ActionLink("[replacetext]", "Index", "Inicio").ToHtmlString().Replace("[replacetext]", "<img src=\"../Images/logo-CarFlex.jpg\" />"))
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                            <div class="col-md-7 col-sm-12 col-header-02">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="input-group">
                                        @Html.TextBox("Nombre", "", new { @class = "form-control", placeholder = "Ingrese su busqueda" })
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Buscar</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2 col-sm-12 col-header-03 text-center">
                                <a class="btn btn-block" href="#" role="button">Iniciar sesión<span class="glyphicon glyphicon-user"></span></a>
                            </div>
                            <div class="col-md-1 col-sm-12 col-header-03 text-left">
                                <a class="btn btn-block btn-shopping-cart popbtn">2<span class="glyphicon glyphicon-shopping-cart"></span></a>
                            </div>
                            <div class="col-md-2 col-sm-12 col-header-04 text-right">
                                <b>01-800 - CARFLEX</b>
                                <br>
                                <small>01 800 - 2273539</small>
                            </div>
                        </div>
                    </div>
                    <!-- VENTANA DESPLEGABLE DEL CARRITO DE COMPRA -->
                    <div id="popover" class="popover">
                        <table class="table autos-similares">
                            <tbody>
                                <tr>
                                    <td class="col-md-4 text-left">
                                        <a href="car-Cardex.html"><img src="images/thumbnail/img-thumbnail-01.jpg" class="img-thumbnail" alt="Image 1"></a>
                                    </td>
                                    <td class="col-md-6 margen-td">
                                        <h6><a href="car-Cardex.html">Chevrolet Chevy 2012</a></h6>
                                        <p>$ 134,000 MXN</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <a href="car-Cardex.html">
                                            <img src="images/thumbnail/img-thumbnail-02.jpg" class="img-thumbnail" alt="Image 1">
                                        </a>
                                    </td>
                                    <td class="col-md-6 margen-td">
                                        <h6><a href="car-Cardex.html">Chevrolet Chevy 2012</a></h6>
                                        <p>$ 134,000 MXN</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4">
                                        <a href="car-Cardex.html">
                                            <img src="images/thumbnail/img-thumbnail-03.jpg" class="img-thumbnail" alt="Image 1">
                                        </a>
                                    </td>
                                    <td class="col-md-6 margen-td">
                                        <h6><a href="car-Cardex.html">Chevrolet Chevy 2012</a></h6>
                                        <p>$ 134,000 MXN</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <a href="" class="btn btn-block">Pedir Cotización</a>
                    </div>
                </div>
            </div>
            <nav role="navigation" class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="@ViewBag.Active1">@Html.ActionLink("INICIO", "Index", "Inicio")</li>
                            <li class="@ViewBag.Active2">@Html.ActionLink("VENTA", "Index", "Venta")</li>
                            <li class="@ViewBag.Active3">@Html.ActionLink("RENTA", "Index", "Renta")</li>
                            <li class="@ViewBag.Active4">@Html.ActionLink("FINANCIAMIENTO", "Index", "Financiamiento")</li>
                            <li class="@ViewBag.Active5">@Html.ActionLink("PROGRAMAS Y SERVICIOS", "Index", "ProgramasServices")</li>
                            <li class="@ViewBag.Active6">@Html.ActionLink("PROMOCIONES", "Index", "Promociones")</li>
                            <li class="@ViewBag.Active7">@Html.ActionLink("OFICINAS", "Index", "Oficinas")</li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-xs hidden-sm barra-Vertical"><span>|</span></li>
                            <li class="@ViewBag.Active8">@Html.ActionLink("CONTACTO", "Index", "Contacto")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--..::::::::::::::::::::================ FIN DE HEADER ================::::::::::::::::::::..-->
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <!--..::::::::::::::::::::================ FOOTER HOME ================::::::::::::::::::::..-->
        <footer id="footerHome">
            <div class="container" style="width: 100%;">
                <hr class="hr" />
                <div class="row margenFooter">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer-col-01">
                            <h4>Por ciudades</h4>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="">Cancún</a></li>
                                <li class="list-group-item"><a href="">Ciudad de México</a></li>
                                <li class="list-group-item"><a href="">Guadalajara</a></li>
                                <li class="list-group-item"><a href="">León</a></li>
                                <li class="list-group-item"><a href="">Mérida</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer-col-01">
                            <h4>Productos y Servicios</h4>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="">Garantía</a></li>
                                <li class="list-group-item"><a href="">Financiamiento</a></li>
                                <li class="list-group-item"><a href="">Autos substituto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix visible-sm visible-xs"></div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer-col-01">
                            <h4>Por tamaño</h4>
                            <div style="float:left">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="">Económico</a></li>
                                    <li class="list-group-item"><a href="">Compacto</a></li>
                                    <li class="list-group-item"><a href="">Intermedio</a></li>
                                    <li class="list-group-item"><a href="">Grande</a></li>
                                </ul>
                            </div>
                            <div style="float:left">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="">Jeep Wrangler</a></li>
                                    <li class="list-group-item"><a href="">Lujo</a></li>
                                    <li class="list-group-item"><a href="">4x4</a></li>
                                    <li class="list-group-item"><a href="">Van</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="footer-col-01">
                            <div class="list-group">
                                <a href="#" class="list-group-item"><span class="fa fa-phone"></span> 01 (800) 227 3539</a>
                                <a href="#" class="list-group-item"><span class="fa fa-twitter"></span> Síguenos en Twitter</a>
                                <a href="#" class="list-group-item"><span class="fa fa-facebook"></span> Síguenos en Facebook</a>
                                <a href="#" class="list-group-item"><span class="fa fa-envelope"></span> Contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr" />
                <div class="row margenFooter">
                    <div class="col-lg-12">
                        <p style="margin-left:10px;">@DateTime.Now.Year &copy; Comercial Ariete, S.A. de C.V. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--..::::::::::::::::::::================ FIN DE FOOTER HOME ================::::::::::::::::::::..-->
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/scriptspage")
        <script src="@Url.Content("~/scripts/jquery.nouislider.js")"></script>
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                $('#tooltipModelo').tooltip();
                $('#tooltipAnio').tooltip();
                $('#tooltipCiudad').tooltip();
                $('#tooltipMva').tooltip();
                $('#tooltipPrecio').tooltip();
                $('.tooltip-examples a').tooltip({
                    placement: 'top'
                });
                $('.tooltip-titles h5').tooltip({
                    placement: 'top'
                });
                $('.tooltip-body a').tooltip({
                    placement: 'top'
                });
            });
        </script>
    </div>
</body>
</html>
