﻿@using Carflex.mx.Catalogo.Model;

@{
    ViewBag.Title = "CarFlex";
    ViewBag.Active1 = "active";
}
<script type="text/javascript">
   $(function () {

       $('#slider-snap').noUiSlider({

           start: [@ViewBag.Config.ParametroPrecioInicial, @ViewBag.Config.ParametroPrecioFinal],
           connect: true,
           step: @ViewBag.Config.Intervalo,
           range: {
               'min': @ViewBag.Config.RangodePrecioInicial,
               'max': @ViewBag.Config.RangodePrecioFinal

               }
       });
       $('#slider-snap').Link('lower').to($('#slider-snap-value-lower'));
       $('#slider-snap').Link('lower').to($('#slider-snap-value-lower1'));

       $('#slider-snap').Link('upper').to($('#slider-snap-value-upper'));
       $('#slider-snap').Link('upper').to($('#slider-snap-value-upper1'));
   });
</script>
<!--..::::::::::::::::::::================ INICIO CAROUSEL ================::::::::::::::::::::..-->
<section id="myCarousel" class="carousel slide">
    <div class="carousel-social">
        <ul class="redes-sociales">
            <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
            <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
        </ul>
    </div>
    <div class="carousel-form col-md-3 col-sm-3 hidden-sm hidden-xs">
        <div class="carousel-form-title col-md-12">
            <h4 class="text-center">ENCUENTRA TU AUTO</h4>
        </div>


        <div id="regresarForm">

            <form role="form" class="col-md-12 rangoPrecioForm" action="Venta" method="post">
                <div class="form-group">
                    <label>Localidad</label>
                    @Html.DropDownList("localidades", ViewData["lslocalidades"] as List<SelectListItem>, new { @class = "form-control", @id = "LocalidadesID" })
                </div>
                <div class="form-group">
                    <label>Marca</label>
                    @Html.DropDownList("marcas", ViewData["lsmarcas"] as List<SelectListItem>, new { @class = "form-control", @id = "MarcasID", @onchange = "llenaModelos();" })
                </div>
                <div class="form-group">
                    <label>Modelo</label>
                    <select class="form-control" id="ModelosID" name="modelos">
                        <option value="@ViewData["lsmodelos"]">Todas</option>
                    </select>
                </div>
                <div class="form-group">
                    <div id="rangoPrecio-lg">
                        <label>Precio Máximo</label>
                        <div id="slider-snap" class="sliderPrice" style="margin:0px 15px;"></div>
                        <div class="rangoPrecio">
                            <div class="row">
                                <div class="col-md-6">

                                    <input type="hidden" id="slider-snap-value-lower1" value="" name="slider-snap-value-lower1" />
                                    <span>Precio min: $</span>
                                    <span id="slider-snap-value-lower"> </span>

                                </div>
                                <div class="col-md-6 text-right">
                                    <input type="hidden" id="slider-snap-value-upper1" value="" name="slider-snap-value-upper1" />
                                    <span>Precio max: $</span>
                                    <span id="slider-snap-value-upper"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>MVA (Número de Auto)</label>
                    <input type="text" class="form-control" placeholder="@ViewData["mva"]" name="mva">
                </div>
                <div class="text-center" style="margin-top: 10px;"><button type="submit" class="btn btn-block" id="SEND">Buscar</button></div>
            </form>
        </div>
    </div>
    <div class="carousel-inner">
        @{
            FiltroVM FiltroSlider = new FiltroVM();
            FiltroSlider = ViewData["FiltroSlider"] as Carflex.mx.Catalogo.Model.FiltroVM;
        }
        @Html.DistribucionSlider(FiltroSlider)        
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</section>
<!--..::::::::::::::::::::================ FIN DE CAROUSEL ================::::::::::::::::::::..-->
<!--..::::::::::::::::::::================ INICIO SERVICIOS ================::::::::::::::::::::..-->
<section id="SERVICIOS">
    <div class="container servicios-home">
        <div class="row carousel-form-lg hidden-lg hidden-md">
            <div class="carousel-form-title col-md-12">
                <h4 class="text-center">ENCUENTRA TU AUTO</h4>
            </div>
            <div id="traerForm" class="col-md-12">

            </div>
        </div>
        <div class="row servicios-home-estilos">
            @{
                FiltroVM Filtro = new FiltroVM();
                FiltroVM Filtro1 = new FiltroVM();
                FiltroVM Filtro2 = new FiltroVM();
                FiltroVM Filtro3 = new FiltroVM();

                Filtro = ViewData["lsFiltro"] as Carflex.mx.Catalogo.Model.FiltroVM;
                Filtro1 = ViewData["lsFiltro1"] as Carflex.mx.Catalogo.Model.FiltroVM;
                Filtro2 = ViewData["lsFiltro2"] as Carflex.mx.Catalogo.Model.FiltroVM;
                Filtro3 = ViewData["lsFiltro3"] as Carflex.mx.Catalogo.Model.FiltroVM;
            }
            @Html.DistribucionGrupo(Filtro)
            @Html.DistribucionGrupo(Filtro1)
            @Html.DistribucionGrupo(Filtro2)
            @Html.DistribucionGrupo(Filtro3)

        </div>
    </div>
</section>
<!--..::::::::::::::::::::================ FIN DE SERVICIOS ================::::::::::::::::::::..-->
<!--..::::::::::::::::::::================ INICIO PROMOCIONES ================::::::::::::::::::::..-->
<section id="PROMOCIONES">
    <div class="container promociones-home">
        <div class="row promociones-home-estilos">
            <div class="col-md-6">
                <h3>VEHICULOS EN PROMOCIÓN</h3>
            </div>
            <div class="col-md-6 text-right">
                <div class="contacto-social">
                    <a href="#" class="btn-Normal" title="VER MÁS VEHICULOS">VER MÁS VEHICULOS</a>
                </div>
            </div>
        </div>
        <div class="row promociones-home-estilos">
            @{
                FiltroVM FiltroFlota = new FiltroVM();
                FiltroVM FiltroFlota2 = new FiltroVM();
                FiltroVM FiltroFlota3 = new FiltroVM();
                FiltroVM FiltroFlota4 = new FiltroVM();

                FiltroFlota = ViewData["FiltroFlota"] as FiltroVM;
                FiltroFlota2 = ViewData["FiltroFlota2"] as FiltroVM;
                FiltroFlota3 = ViewData["FiltroFlota3"] as FiltroVM;
                FiltroFlota4 = ViewData["FiltroFlota4"] as FiltroVM;
            }

            @Html.DistribucionAuto(FiltroFlota)
            @Html.DistribucionAutoRemate(FiltroFlota2)
            @Html.DistribucionAuto(FiltroFlota3)
            @Html.DistribucionAuto(FiltroFlota4)
            

        </div>
    </div>
</section>
<!--..::::::::::::::::::::================ FIN DE PROMOCIONES ================::::::::::::::::::::..-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#footerHome').show();
        $('#footerSecciones').hide();
    });
</script>
<script type="text/javascript">
    function llenaModelos() {
        MarcaId = $('#MarcasID').val();
        var URL = 'Inicio/CargaCombosByMarca/' + MarcaId;
        $.getJSON(URL, function (data) {
            var items = '<option value="Todas">Todas</option>';
            $.each(data, function (i, category) {
                items += "<option value='" + category + "'>" + category + "</option>";
            });
            $('#ModelosID').html(items);
        });
    };
</script>