﻿/*..::::::::::::::::::::================  DOCUMENTO CSS  ================::::::::::::::::::::..*/

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;		
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .30);
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	color: #535353;
	font-size: 18px;
	font-weight: bold;
    letter-spacing: 2px;
}

h4 {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

h5 {
	color: #333;
	font-size: 12px;
	font-weight: bold;
}

p {
	line-height: 20px;
}

a {
    color: #fff;
    background-color: #173d90;
	text-decoration: none;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
}

a:hover, .col-header-03 .btn-shopping-cart:hover, .carnet-Auto .btn-lg-shopping-cart:hover{
    color: #fff;
    text-decoration: none;
	background-color: #FF0019;
}

span { margin-left: 10px; line-height: 15px; }

hr {
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #ccc;
	margin: 0 -5px 10px 0;
	padding: 0px;
}

.border-Der {
    border-right:1px solid #ccc;
}

.border-Izq {
    border-right:1px solid #ccc;
}

.text-rojo { color: #e9190f; }
.text-blanco, .content-btn-financiamiento .text-blanco { color: #fff; }
.text-negro { color: #333; }

.redes-sociales {
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.redes-sociales li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

ul.redes-sociales li:last-child { 
    margin-left: 0; 
    margin-right: 0; 
    padding-left: 0; 
    border-left: none; 
}

ul.redes-sociales li a {
	text-decoration: none;
	font-size: 18px;
    font-weight: bold;
	color: #333;
	background: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
}

ul.redes-sociales li a:hover, .contacto-social ul.redes-sociales li a:hover {
  background: #ff0019; 
  color: #fff;
}

.contacto-social {
    margin: 0px;
	height: 30px;
}

.contacto-social ul.redes-sociales li a {
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
    font-weight:100;
	color: #fff;
	background: #333;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 2px;
}

.breadcrumb {
    background: none;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.jcarousel a, .table a {
    color: #333;
    text-decoration: none;
    background: none;
}

.breadcrumb a {
    color: #888;
    font-size: 13px;
    background: none;
    font-weight: bold;
}

.breadcrumb  a:hover, .jcarousel a:hover, .pager a:hover, .table a:hover {
    color: #173d90;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #aaa;
  font-size: 20px;
  content: "›\00a0";
}

.breadcrumb > .active {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

.margenTop {
    margin-top: 10px;
}

.barra-Vertical{
    margin-top:15px;
    margin-right:30px;
}
/*..::::::::::::::::::::================  BOTON NORMAL - BOTON FORMULARIOS  ================::::::::::::::::::::..*/
.btn-Normal {
    font-size: 14px;
    color: #888;
    font-weight: normal;
    text-align: right;
    line-height: 1.42857143;
    background: none;
    
}

.btn-Normal:hover {
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    line-height: 1.42857143;
    background: none;
    color: #333;
}


.col-header-02 .btn, .carousel .btn, .carousel-form-lg .btn, /*.form-contacto .btn*/.form-Search .btn {
	color: #fff;
    background-color: #ff0019;
    -webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
}

.col-header-02 .btn:hover, .carousel .btn:hover, .carousel-form-lg .btn:hover/*, .form-contacto .btn:hover*/ {
	color: #fff;
	background-color: #173D90;
	text-decoration: none;
}

.btn-primary {
    color: #fff;
    background: #e21711 url('../images/arrow-Der.png') no-repeat right;
    background-position: 90px 10px;
    padding: 10px 40px;
    border: none;
    border-radius: 2px;
    -webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #173D90;
    border-color: #285e8e;
}

.col-header-03 .btn:hover {
	color: #fff;
}

.col-header-03 .btn-shopping-cart {
	color: #fff;
    background-color: #888;
}

/*.col-header-03 .btn:hover, .col-md-6 .btn-lg-shopping-cart:hover {
	color: #fff;
    text-decoration: none;
	background-color: #FF0019;
}*/

/*..::::::::::::::::::::================  HEADER  ================::::::::::::::::::::..*/

header {
	width: 100%;
}

.col-header-01 {  }
.col-header-02 {  }
.col-header-03 { padding: 8px 5px; }
.col-header-04 { padding: 8px 20px; }

/*..::::::::::::::::::::================  MENU PRINCIPAL  ================::::::::::::::::::::..*/

.navbar-header {
    margin-bottom: 5px;
}

.navbar {
	border: none;
    background: url(../images/bg-navbar.jpg) repeat-x bottom;
	margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-nav { margin-top: 10px; }

.navbar-default .container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; 
}

.navbar-default .navbar-nav li a:first-child { margin-left: 0px; }

.navbar-default .navbar-nav li a {
	margin: 0 10px;
	color: #535353;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    background: none; 
}

.navbar-default .navbar-nav li a:hover {
	color: #fff;
	background-color: #173D90;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #173D90;
}

.navbar span { margin-left: 0px; line-height: 0px; }

/*..::::::::::::::::::::================  SLIDER  ================::::::::::::::::::::..*/

#myCarousel { 
    position:relative; 
    -webkit-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, .60);
    -moz-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, .60);
          box-shadow: 0 4px 4px 1px rgba(0, 0, 0, .60);
}

.carousel .col-md-3{
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-social {
    position: absolute;
    top:20px;
    right:10px; 
	z-index: 10;
	height: 40px;
}

.carousel-form {
    position: absolute;
    top:0;
    left:115px; 
	z-index: 10;
	margin-top: 10px;
	height: 425px;
	/*padding: 10px 10px;*/
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.carousel-form-lg {
	margin: 10px 10px !important;
	height: auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
    border: 1px solid #ccc; 
    padding-bottom: 10px;
}

.carousel-form-title{
    background-color: #e4e4e4;
    border-bottom: 1px solid #ccc;
    padding: 1px 10px;
    margin-bottom: 5px;
}

.carousel-form .form-group {
  margin-bottom: 5px;
}

.rangoPrecio{
    margin-top:10px;
    margin-bottom: 10px;
}

.rangoPrecio span { margin-left: 0px; line-height: 15px; }

.carousel-inner {
	height:100%;
}

.carousel .item {
	height: 420px;
    -webkit-box-shadow: inset 0 -5px 5px 0 rgba(0, 0, 0, .80);
    -moz-box-shadow: inset 0 -5px 5px 0 rgba(0, 0, 0, .80);
    box-shadow: inset 0 -5px 5px 0 rgba(0, 0, 0, .80);
}

.carousel-content {
  margin-top: 60px;
}

.img-car {
    margin-top: 80px;
}

/*.btn-Encuentra-Auto { width: 100%; padding: 5px 0px; margin-bottom: 5px; }*/

.carousel-control {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 80px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #173d90;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  border-radius: 4px;
  opacity: 1;
}

.carousel-control.left {
	left: 10px;
	background-image: none;
}
.carousel-control.right {
 	right: 10px;
	left: auto;
	background-image: none;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  background: #ff0019;
  text-decoration: none;
  outline: 0;
  opacity: 1;
}

.carousel h1 {
	color: #fff;
	margin-bottom: 0px;
	font-size: 32px;
	letter-spacing: 1px;
	padding: 0px 10px;
  	background: none;
  	display: inline-block;
	text-shadow: 1px 1px 3px #000;
}

.carousel h3 {
	color: #fff;
	margin-bottom: 10px;
	margin-top: 0px;
	letter-spacing: 1px;
	padding: 0px 10px;
	background: none;
	text-shadow: 1px 1px 3px #000;
}

.carousel .price-promo-slider {
	color: #f2dc0c;
	margin-top: 0px;
}
.carousel .margin-slider{ margin-top: 60px; margin-bottom: 0px; }


/*..::::::::::::::::::::================  SERVICIOS  ================::::::::::::::::::::..*/
.servicios-home, .promociones-home {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.servicios-home-estilos {
    margin: 0px 100px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    background-color: #f2f2f2;
}

.servicios-home-estilos a {
    color: #333;
    background: none;
}

.servicios-home-estilos a:hover {
    color: #888;
    background: none;
}

.servicios-home .thumbnail {
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

.servicios-home-estilos .img-thumbnail:hover{
    border: 1px solid #888;
}

/*..::::::::::::::::::::================  PROMOCIONES  ================::::::::::::::::::::..*/
.promociones-home-estilos {
    margin: 0px 80px;
    padding-left: 5px;
    padding-right: 5px;
}

/*.promociones-home .col-md-3, .promociones-home .col-sm-6 {
  padding-right: 0px;
  padding-left: 0px;
}*/

/*.margen-Der {
    margin-right: 5px;
}

.margen-Izq {
    margin-left: 10px;
}*/

.promociones-home .thumbnail {
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background: none;
    /*border: 0px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;*/
    border: 1px solid rgba(221,221,221,0.0);
    border-radius: 6px;
    -webkit-transition: color 300ms, border-color 300ms;
	-moz-transition: color 300ms, border-color 300ms;
	-o-transition:  color 300ms, border-color 300ms;
	transition:  color 300ms, border-color 300ms;
}

.promociones-home .thumbnail:hover {
    border: 1px solid #173d90;
    
}

.promociones-home .img-thumbnail{
    border-radius: 6px 6px 0 0;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 0px;
}

.estado-Promo {
    text-align: center; 
    padding: 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.enPromocion{
    background-color: #173d90;
}

.enRemate{
    background: #ff0019;
}

.promociones-home .caption {
    border:1px solid #ccc;
    border-radius:0 0 6px 6px;
    border-top: none;
    padding: 0px;
}

.modelo-Promo {
    text-align: left; 
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
}

.precios-Promo {
    text-align: left; 
    padding: 5px 9px;
}

.modelo-Promo a {
    color: #333;
    background: none;
}

.precios-Promo .promoPrecio {
    color: #173d90;
    background: none;
}

.precioRemate {
    color: #ff0019;
    background: none;
}

.modelo-Promo a:hover, .precios-Promo a:hover {
    color: #888;
    background: none;
}

.precios-Promo p { 
    line-height: 10px;	
    padding: 0 10px; 
    padding-top: 10px; 
    margin-bottom: 10px; 
    color:#888; 
    font-size: 14px;
}

.modelo-Promo p {
	line-height: 10px;
    font-weight: 800;
    color: #5a5a5a;
}

/*..::::::::::::::::::::================ ASIDE ================::::::::::::::::::::..*/
aside a {
    color: #173d90;
    background: none;
}

aside a:hover {
    color: #888;
    background: none;
}

aside p { margin-bottom: 5px; line-height: 15px; }

.content-precio-oferta {width: 100%; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 10px;}
.title-precio-oferta {padding: 5px 20px; border-bottom: 1px solid #ccc;}
.title-precio-oferta span {margin-left: 0px;}
.precio-ahorro{padding: 5px 20px; border-bottom: 1px solid #ccc;}
.precio-oferta{padding: 5px 20px; border-radius: 0px 0px 4px 4px; background: #e9190f;}
.precio-ahorro h5, .precio-oferta h5 {
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
}
.precio-ahorro p, .precio-oferta p {
	margin-bottom: 0px;
	padding-top: 15px;
}

.content-btn-financiamiento a {color:#fff;}

.content-btn-financiamiento .list-group-item  {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: #aaa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.icon-sign { display: inline-block; float: right; top: 0px; position: relative; background: url(../images/icon-sign.png) no-repeat; width: 20px; height: 20px;}

.autos-similares > tbody > tr > td {
  padding: 10px 0px;
  line-height: 35px;
  vertical-align: top;
  border-top: none;
}
.autos-similares .margen-td {padding-left:10px;}
.mapa-CarFlex {padding: 4px; border-radius: 4px; border:1px solid #ccc;}

.autos-similares a img { width: 100%;}
.sidebar-list  a {
  color: #173d90;
  text-decoration: none;
}

.sidebar-list  a:hover {
  color: #FF0019;
}
.sidebar-list p { margin-bottom: 5px; line-height: 15px; }

/*..::::::::::::::::::::================ CONTACTO ================::::::::::::::::::::..*/
.modo-Contacto {
    margin-left: 0px;
    border: 1px solid #ccc;
    border-radius:4px;
    padding:20px;
    background: url('../images/bg-ModoContacto.jpg') no-repeat center center;
}

.modo-Contacto h5 {
    color:#888;
    font-size: 16px;
    font-weight: 300;
}

.modo-Contacto a {
    color:#888;
    padding: 5px;
    background: none;
}

.modo-Contacto a:hover {
    color:#428bca;
    padding: 5px;
    background: none;
}

.form-contacto a {
    color: #428bca;
    text-decoration: none;
    background: none;
}

.form-contacto a:hover {
    color: #888;
    text-decoration: underline;
    background: none;
}

.title-rowContactanos {
    padding-right: 80px; 
    padding-left: 80px;
}

.menu-Modo-Contacto li {
    float: none;
    position:relative;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0px 2px;
    letter-spacing: 1px;
}

.menu-Modo-Contacto li a {
    color: #333;
    padding:10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: none;
}

.menu-Modo-Contacto li a:hover {
    color: #333;
    background: none;
    border: 1px solid #ccc;
}

.menu-Modo-Contacto li.active a,
.menu-Modo-Contacto li.active a:hover,
.menu-Modo-Contacto li.active a:focus {
    color: #fff;
    background: #173d90;
    border: 1px solid #173d90;
}

.menu-Modo-Contacto li.active:after{
    border-left: 10px solid transparent;
    border-right: 11px solid transparent; content:"";
	border-top: 13px solid #173d90;
    position: absolute;
    bottom: -13px;
    width: 0px;
    left: 50%;
    margin-left: -10px;
}

.formSugerenciaExp label.error {
    margin-top: 6px;
    margin-bottom: 0;
    color: #D65C4F;
    background: none;
    display: table;
    padding: 5px 8px;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
}

.formSugerenciaExp input.error, .formSugerenciaExp select.error, .formSugerenciaExp textarea.error {
    background: rgba(226,23,17,.10);
}
        
.formSugerenciaExp label.valid{
    color: #65B688;
    background: none;
}

.icon-Que-Sug {
    position: absolute;
    top:10px;
    right:15px; 
	z-index: 10;
    width: 110px;
	height: 110px;
}



/*..::::::::::::::::::::================ FORMULARIOS ================::::::::::::::::::::..*/
.form-Search { 
    width: 100%; 
    margin-bottom: 10px; 
    background: #173d90; 
}

.form-Search label { 
    color: #fff; 
}

.form-Search .btn:hover {
	color: #fff;
	background-color: #888;
	text-decoration: none;
}
/*.form-Search .btn {
    color: #fff;
    background: #e21711 url('../images/arrow-Der.png') no-repeat right;
    background-position: 90px 10px;
    padding: 10px 40px;
    border: none;
    border-radius: 2px;
    -webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition:  color 300ms, background-color 300ms;
	transition:  color 300ms, background-color 300ms;
}
.form-Search .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #173D90;
    border-color: #285e8e;
}*/

/*..::::::::::::::::::::================ VENTA ================::::::::::::::::::::..*/
.jcarousel .jcarousel-content { 
    position: relative; 
    width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 0px auto; 
    padding: 5px; 
}
.ribbon-top { 
    position: absolute; 
    top:0%; right:0%; 
    width: 140px; 
    height: 30px; 
    z-index: 10; 
    color: #fff; 
    background: rgba(226,23,17,.80); 
    line-height: 30px; 
    border-radius: 0 4px 0 0;
}
.jcarousel h4 { 
    line-height: 5px; 
}
.jcarousel p, .table p { 
    line-height: 15px; 
    padding: 0; 
    padding-top: 0px; 
    margin-bottom: 10px; 
    color:#7a7a7a; 
}

.jcarousel-wrapper span { 
    margin-left: 0px; 
}

.venta .text-right p { margin-bottom: 0px;}
.venta .fa-caret-down { margin-left: 10px; }
.venta .btn-xs { background: none; color: #777; }
.venta .btn-xs:hover { background: none; color: #333; }

.sidebar-list .list-group a { color: #333; text-decoration: none; }
.sidebar-list .list-group a:hover { color: #173d90; text-decoration: none; }
.sidebar-list .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: #ccc;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/*..::::::::::::::::::::================  TABLAS  ================::::::::::::::::::::..*/
.venta .table tbody tr td { 
    vertical-align: middle;
    border-top: none;
}

.carnet-Auto .table tbody tr td { vertical-align: middle; }
.pager a { color: #333; }


.venta span { 
    margin-left: 0px; 
    /*line-height: 15px; */
}

.pager li > a,
.pager li > span {
    color: #333;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 14px;
    background-color: none;
    border: none;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background: none;
}

.dataTables_paginate {
            width: 100%;
            margin: 17px 0;
        }
        
        .view-pager{
            margin-top: 20px;
        }
        .dataTables_paginate .paginate_button {
          margin-top: 10px;
          cursor: pointer;
          font-weight: 600;
          color: #505050;
          padding: 5px 10px;
          font-size: 12px;
            background: none;
        }
        
        .dataTables_paginate .paginate_button.current, 
        .dataTables_paginate .paginate_button.current:hover,
        .dataTables_paginate .paginate_button.current:focus {
          background-color: #32434D;
          outline: 0;
          color: #fff;

        }
        
        .dataTables_paginate .paginate_button:hover,
        .dataTables_paginate .paginate_button:focus {
          background-color: #65B688;
          color: #fff;
          outline: 0;
        }
        
        .dataTables_paginate .paginate_button.disabled, 
        .dataTables_paginate .paginate_button.disabled:hover, 
        .dataTables_paginate .paginate_button.disabled:focus {
          color: #999;
          background: none;
          cursor: default;
            display: none;
        }


.margenBottom {
    margin-bottom: 20px;
}

/*..::::::::::::::::::::================ CARNET ================::::::::::::::::::::..*/
.carnet-Auto .btn-lg-shopping-cart { margin-top: 20px; background-color: #173d90; }
.content-thumbs-galeria .thumbnail { float: left; width: 30%; margin: 5px 5px; }
.table .icon-car { display: inline-block; top: 5px; position: relative; background: url(../images/icon-car.png) no-repeat; width: 20px; height: 20px;}
.table .icon-pasajeros { display: inline-block; top: 5px; position: relative; background: url(../images/icon-pasajeros.png) no-repeat; width: 20px; height: 20px;}
.table .icon-seguridad {display: inline-block; top: 5px; position: relative; background: url(../images/icon-seguridad.png) no-repeat; width: 20px; height: 20px;}
.table .icon-block { display: inline-block; top: 5px; position: relative; background: url(../images/icon-block.png) no-repeat; width: 20px; height: 20px;}
.caracteristicas-All {padding-left: 25px; padding-right: 30px;}
.caracteristicas-All .table span {margin-left: 0px; margin-right: 5px; font-size: 16px;}
.caracteristicas-All .table > tbody > tr > td {
  padding: 0px;
  line-height: 35px;
  vertical-align: top;
  border-top: none;
}
.caracteristicas-All .table > thead > tr > th {
    padding-left: 0px;
  vertical-align: bottom;
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.caracteristicas-All h4, .caracteristicas-All h5 { margin-bottom: 0px;text-shadow: 0px 0px 0px rgba(0,0,0,0.0);}
.ribbon-garantia {width: 360px;height: 120px;margin: 10px 0px;clear: both;background: url(../images/borde-ribbon.png) right no-repeat;}
.content-ribbon-garantia {position:relative;float:right;width: 360px;height: 120px;background:#ccc;background: url(../images/ribbon-garantia.gif) -2px no-repeat;}
.text-ribbon-garantia {position:absolute;padding:10px;left: 30%;top:40px;}

.caracteristicas-autos { position:relative; margin: 10px 10px 30px 10px !important; border: 1px solid #ccc; background-color: #ccc; }
.titulo-caracteristicas{}
.caracteristicas-autos span.arrow-down{
	height: 20px;
	width: 30px;
	background: url(../images/arrow-down.png) center center no-repeat;
	text-align: center;
	font-size: 20px;
	position: absolute;
	display: inline-block; 
	left:40px;
	bottom: -20px;
	z-index: 10;
}

.section-garantias { margin: 20px 0px; }
.content-section-garantias { margin: 10px 10px !important; border: 1px solid #ccc; border-radius: 6px; background-color: #ebebeb; }
.border-section-garantias { border-right: 1px solid #ccc; }

.section-garantias .thumbnail {
  padding: 10px 10px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0px;
}

.section-garantias p {
	line-height: 15px;
	margin-bottom: 25px;
	color: #333333;
}

/*..::::::::::::::::::::================ FOOTER ================::::::::::::::::::::..*/
footer { 
    margin: 10px 0px; 
    font-size: 14px; 
}

footer .footer-col-01 { 
    padding: 0px 10px; 
}

footer .list-group a { 
    color: #7a7a7a; 
    background: none; 
    text-decoration: none; 
}

footer .list-group a:hover { 
    color: #173d90; 
    text-decoration: none; 
}

footer .margin-footer-links { 
    margin-left: 20px; 
}

footer .list-group {
	margin-right: 20px;
}

footer .list-group-item {
  position: relative;
  display: block;
  padding: 5px 0px;
  margin-bottom: -1px;
  background-color: #fff;
  border: none;
}

footer .list-group-item:first-child {
  border-top-left-radius: none;
  border-top-right-radius: none;
}

footer .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: none;
  border-bottom-left-radius: none;
}

footer p {
	line-height: 30px;
	margin-bottom: 0px;
	color: #7a7a7a;
}

footer .fa-phone { background-color: #ff0019; }
footer .fa-twitter { background-color: #1ab4e6; }
footer .fa-facebook { background-color: #3b57a0; } 
footer .fa-envelope  { background-color: #333; }

footer a .fa-phone, footer a .fa-twitter, footer a .fa-facebook, footer a .fa-envelope { 
    font-size: 18px;
    height: 40px;
    width: 40px;
    margin: 0px;
    border-radius: 100%;
    line-height: 40px;
    text-align:center;
    color: #fff;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    margin-right: 10px; 
}

footer .fa-phone:hover, footer .fa-twitter:hover, footer .fa-facebook:hover, footer .fa-envelope:hover { 
    color: #fff;
    background-color: #888;
}

footer .margenFooter{
    margin: 0px 70px; 
    padding-left: 5px; 
    padding-right: 5px;
}

footer .hr {
  margin: 0px 100px;
}
/*..::::::::::::::::::::================  MEDIA QUERIES  ================::::::::::::::::::::..*/

@media (min-width: 320px) and (max-width: 991px) {
	header h1 {
		margin: 15px 0;
	 	font-size: 24px;
	}
    
    .col-header-03 { padding: 8px 15px; }
    
    .border-Der { border-right: 0px; }
    .border-Izq { border-right: 0px; }
	.social { text-align: center; }
	.phone { text-align: center; }
    
	ul.redes-sociales li:last-child { 
        margin-right: 10px; 
    }
	
    .navbar-default .container { 
        padding-right: 15px; 
        padding-left: 15px; 
        margin-right: auto; 
        margin-left: auto; 
        border-color: transparent;
    }
	.navbar-nav { 
        padding-left: 10px; 
    }
    
    .navbar-default .navbar-nav li a {
        margin: 5px 10px;
        padding: 10px 10px;
        text-align: center;
        color: #535353;
        border-radius: 4px 4px 4px 4px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
    
    .servicios-home-estilos {
        margin: 0px 10px; 
        border: 1px solid #ccc; 
        border-radius: 6px; 
        background-color: #ebebeb;
    }
    
    .promociones-home-estilos {
        margin: 0px 10px; 
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .promociones-home .col-md-3, .promociones-home .col-sm-6{
        padding-left: 0px; 
        padding-right: 0px;
    }
    
    #CONTACTO .text-right{ /*text-align: center;*/ }
    
    .modo-Contacto {
        background: none;
    }
    
    footer .margenFooter{
        margin: 0px 0px; 
        padding-left: 0px; 
        padding-right: 0px;
    }
    
    footer .hr {
        margin: 0px 10px;
    }
    
}

@media screen and (max-width: 768px){
    
}

